{% extends 'base.html.twig' %}

{# on surcharge nle block title avec {{ parent }}
    et le titre passé par le contrôleur
#}
{% block title %}{{ parent() }} | {{ title }}{% endblock %}


{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
    </div>

{% endblock %}
